---
import Nav from "../../components/nav.astro";
---

<Nav />

<table>
    <thead><tr>These are my Current Projects</tr></thead>
    <td><a href="cyber-range">Incident Response - Cyber Range</a></td>
</table>
